body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.3px;
    background-color: rgb(0 143 211);
}
.banner{
    height: 57px;
    width: 100%;
    background-color:rgb(25 27 128);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 40px;
    color: white;
    font-size: 34px;
    text-decoration: none;
}

span{
    font-size: 30px;
    color:rgb(0 199 242);
}

.video_BG{
    margin-top:60px;
    width:48%;
    height:100%;
}
.search-box{
    width: 310px;
    height: 10px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background: #fff;
    border-radius: 100px;
    align-items: center;
}

.search-box input{
    width: 310px;
    outline: none;
    border: none;
    transition: 0.7s;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a {
    font-size: 23px;
    text-decoration: none;
    color: aliceblue;
    margin: 0 25px;
}

nav ul li a:hover {
    color: rgb(0 199 242);
    transition: 0.7s;
}

.login-box {
    background-image: url(../images/Watercolor.jpeg);
    /* background-color:rgba(76, 78, 173, 0.452);
    background-color:rgb(156 89 241 / 79%); */
    position:absolute;
    top: 27%;
    left: 63%;
    width: 350px;
    height: 390px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.171);
}

h1{
    white-space: 555px;
    text-align: center;
    /* padding-top: 5px; */
    color: rgb(25 27 128);
    font-family: 'Ubuntu', sans-serif;
    font-weight:800;
    font-size: 37px;
}

.user{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #26929d;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.596);
}
.user:hover{
    background-color: rgba(25, 97, 139, 0.308);
    transition: 0.9s;
}
.pass{
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #26929d;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.596);
    }
.pass:hover{
        background-color: rgba(25, 97, 139, 0.308);
        transition: 0.9s;
    }
::placeholder{
        color: rgb(6, 43, 112);
        font-weight: bold;
        font-size: 15px;  
    }

.bxs-user{
    color: rgb(25 27 128);
}
.bx-lock-alt{
    color: rgb(25 27 128);
}
.btn {
    width: 160px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 90px;
    font-weight: 700;
    background: rgb(25 27 128);
    color:rgba(255, 255, 255, 0.842);
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: rgb(0 143 211);
    transition: 0.7s;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgb(25 27 128);
}